html {
  overflow-y: scroll
}
body,div,ul,li,p{
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  text-decoration: underline;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0px;
}
header{
  max-width: 100%;
  padding-bottom: 10px;
}
header .header-content{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  max-width: 900px;
  margin: 0 auto; 
}
#brand {
  display: flex;
  flex-direction: row;
  text-align: unset;
  align-items: center;
  text-align: center;
}
#brand .icon {
  width: 38px;
}
#brand .text{
  margin-left: 10px;
}
#brand .text a {
  font-size: 36px;
  font-family: Unifont;
  text-decoration: none;
  font-weight: 600;
}
#brand .text a:hover{
  color:#535353;
}

header nav {
  margin-top: 30px;
}
header nav a{
  font-size: 16px;
  margin-left: 30px;
  color: #626262;
}

header nav a:hover{
  color: #1A73E8;
}

main{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;  
}
#banner{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: #F1F1F1;
  border-radius:10px;
}
#banner .banner-content{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
#banner .banner-content p{
  font-size: 16px;
}
/*index-posts-content*/
.summary {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
}
.summary .title{
  font-size:30px;
  font-weight:400;
}
.summary .content{
  color:#555555;
  font-size: 15px;
  line-height: 25px;
  margin-top: 10px;
}

.summary .content p{
  margin-top: 10px;
  text-indent: 0px !important;
}
.post-meta{
  color: #A6A4A4;
  margin-top: 10px;
  font-size:14px;
}
.post-meta a{
  color: #A6A4A4;
}
.post-tags {
  margin-top: 10px;
}
.post-tags a{
  color:#1A73E8;
}
.pagination{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*page*/
.page-menu{
  width: 100%;
  background-color: #F1F1F1;
  margin-top: 0px;
  overflow: hidden;
}
.page-menu p{
  width: 100%;
  max-width: 900px;
  height: 45px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.page-menu p span{
  font-size: 16px;
  border-bottom: 2px solid #000000;
}
/*posts-list*/
#postsByDate  {
  list-style: none;
}
#postsByDate li {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  border-bottom: 1px solid #E1E1E1;
}

#postsByDate .date {
  width: 100px;
  color: #A6A4A4;
  font-size: 16px;
  
}
/*category*/
#terms{
  list-style: none;
  margin-top: 20px;
}

.term{
  list-style: inside;
  height: 50px;
}

.term .zhtit{
  font-size: 22px;
  color:#000;
}

.term .entit{
  font-size: 14px;
  color:#1A73E8;
}

.term .count{
  font-size: 14px;
  color:#626262;
  margin-left: 10px;
}

/*tags*/
.tags {
  margin-top: 30px;
}

.tags a{
  padding: 10px;
  border-radius: 10px;
  background-color: #F1F1F1;
  color:#1A73E8;
  margin-right: 10px;
}

.tags span.count{
  font-size: 12px;
  color: #555555;
}

/*about*/
.about-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.about-head .img{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
}

.about-head .tit{
  margin-top: 10px;
  font-size: 22px;
}

.about-content{
  margin-top: 50px;
  font-size: 16px;
  color: #555555;
}

/*article*/
article{
  margin-top: 40px;
}
article .title{
  font-size: 38px;
  font-weight: 300;
}
article .content{
  margin-top: 30px;
  font-size: 18px;
  color:#555555;
}
article .content p{
  margin-top: 20px;
  line-height: 32px;
}
article .content p img{
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: auto;
}

article .date{
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: right;
  font-size: 14px;
  border-bottom: 1px solid #F1F1F1;
  color: #A6A4A4;
}

.post-meta-detail{
  color: #A6A4A4;
  margin-top:10px;
  font-size:14px;
}
.post-meta-detail a{
  color: #1A73E8;
}
/*footer*/
footer {
  max-width: 900px;
  margin: 0 auto;  
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 14px;
}
footer a{
  color:#1A73E8;
}
footer a:hover{
  text-decoration: underline;
}
.analysis{ 
  margin-top: 10px;
  font-size: 12px;
  color: #A6A4A4;
}
.analysis #busuanzi_value_site_pv,#busuanzi_value_site_uv { 
  margin-left: 5px;
  margin-right: 5px;
  color:#555555;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #root {
    margin-top: 25px;
  }
  header .header-content{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin: 0 auto; 
  }
  header nav {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header nav a{
    font-size: 16px;
    margin-left: 0px;
    color: #626262;
  }
  #content{
    padding: 10px;
    box-sizing: border-box;
  }
  .page-menu{
    width: 100%;
    background-color: #F1F1F1;
    margin-top: 0px;
    overflow: hidden;
    border-radius: 4px;
  }
  .page-menu p{
    width: 100%;
    height: 45px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .page-menu p span{
    font-size: 16px;
    border-bottom: 2px solid #000000;
  }

  #postsByDate  {
  list-style: none;
  }
  #postsByDate li {
    display: flex;
    flex-direction: column;
    list-style: none;
    height:auto;
    line-height: normal;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0px;
  }
  #postsByDate li .title{
    font-size: 18px;
    margin-top: 10px;
  }
  #postsByDate .date {
    width: 100px;
    color: #A6A4A4;
    font-size: 16px;
  }
  
  #terms{
    list-style: none;
    margin-top: 20px;
  }

  .term{
    list-style: inside;
    height:auto;
    margin-top: 15px;
  }

  .term .zhtit{
    font-size: 16px;
    color:#000;
  }

  .term .entit{
    font-size: 14px;
    color:#1A73E8;
  }

  .term .count{
    font-size: 14px;
    color:#626262;
    margin-left: 10px;
  }
  footer{
    text-align: center;
  }
}

